body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #000025;
    color: #ffffff;
    font-size: 17px;
}
.container{
    border: 3px solid #2247ff;
    border-top: 40px solid #2247ff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav{
    background-color: #e3e3e3;
    color: #000000;
    border: solid 3px #2247ff;
}
.nav ul{
    list-style: none;
    padding: 10px;
}